<app-header></app-header>

<div class="items-feed__container">
 <h2 class="mb-3">Order your Food here </h2>
          

  </div>
  

  <li data-id="asfd123">
    <div class="foodblock" >
      
      <div class="foodimage"><img class="imagef" src="../assets/Images/hd1.jpg "></div>
      
      <div class="content">
        <div class="namenprice">
          <div>Sushi Lover </div>
          <div>129.99 kr </div>
        </div>
        <div class="desnadd">
          <div>1 Toro, 1 tuna, 1 salmon 1 yellow tail with 2pcs futo maki	</div>
          <div><button class="add">Add</button></div>
        </div>    
      </div>
    
    </div>  
    </li>  
    
    <li data-id="asfd123">
    <div class="foodblock" >
      
      <div class="foodimage"><img class="imagef" src="../assets/Images/hd4.jpg"></div>
      
      <div class="content">
        <div class="namenprice">
          <div>Tokyo Madness </div>
          <div>79.99 kr</div>
        </div>
        <div class="desnadd">
          <div>Teriyaki Onions, Wasabi Mayo, and Nori	</div>
          <div><button class="add">Add</button></div>
        </div>    
      </div>
    
    </div>  
    </li>  
    
    
    <li data-id="asfd123">
    <div class="foodblock" >
      
      <div class="foodimage"><img class="imagef" src="../assets/Images/hd7.jpg"></div>
      
      <div class="content">
        <div class="namenprice">
          <div>Ginza Sushi </div>
          <div>95.55 kr</div>
        </div>
        <div class="desnadd">
          <div>2pcs tuna, 2pcs yellow tail with half tuna and salmon avocado roll.	</div>
          <div><button class="add">Add</button></div>
        </div>    
      </div>
    
    </div>  
    </li>  
    
    
    <li data-id="asfd123">
    <div class="foodblock" >
      
      <div class="foodimage"><img class="imagef" src="../assets/Images/hd3.jpg"></div>
      
      <div class="content">
        <div class="namenprice">
          <div>Sushi Regular </div>
          <div>119.95 kr</div>
        </div>
        <div class="desnadd">
          <div>8pcs sushi with 2pcs futo maki.	</div>
          <div><button class="add">Add</button></div>
        </div>    
      </div>
    
    </div>  
    </li>  
    
    
    <li data-id="asfd123">
    <div class="foodblock" >
      
      <div class="foodimage"><img class="imagef" src="../assets/Images/hd4.jpg"></div>
      
      <div class="content">
        <div class="namenprice">
          <div> Sushi Delux</div>
          <div>189.95 kr </div>
        </div>
        <div class="desnadd">
          <div>10pcs sushi with 2pcs futo maki.	</div>
          <div><button class="add">Add</button></div>
        </div>    
      </div>
    
    </div>  
    </li>  
    
    
    <li data-id="asfd123">
    <div class="foodblock" >
      
      <div class="foodimage"><img class="imagef" src="../assets/Images/hd.jpg"></div>
      
      <div class="content">
        <div class="namenprice">
          <div>Chirashi </div>
          <div>120 kr</div>
        </div>
        <div class="desnadd">
          <div>Assorted sashimi on sushi rice.</div>
          <div><button class="add">Add</button></div>
        </div>    
      </div>
    
    </div>  
    </li>  
<footer>
<app-footer></app-footer>
</footer>