<app-header></app-header>



  
     
        <div class="card" >

          

          <h2 class="herotext">
            <h1 class="herotext1">Welcome to The Sushi Truck!</h1><br><br>
            Do you belong to Japanese cuisine fans? Then you've come to the right place. <br><br>
             Try real sushi straight from Asian countries!</h2>
          <img
            src="../assets/Images/sushitruck.jpg"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            
            <p class="card-text">
              The secret to the unique taste of our sushi lies in the skillful selection of the highest quality ingredients and the passion with which we prepare each roll.
              We approach cooking as if it were a creative process and I we not afraid to experiment with it. So if you do not like the usual patterns, you have a rich imagination and a desire to try new things, this trend will definitely fall
              You like it. We service home, company and outdoor events.
            </p>
            <button mat-button class="btn btn-primary2" [routerLink]="['../menu']">
              See menu
             </button>
            <button mat-button class="btn btn-primary3" [routerLink]="['./Order']">
             Order Here
            </button>
          </div>
        </div>
    
    



<footer>
  <app-footer></app-footer>
</footer>
